window#screen-border{

    box-shadow: none;
    background: none;
    border: none;
}

window box {
  background-color: transparent;
}

.workspaces {
  button {
    background: none;
    border: none;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 6px;
    background-color: #333;
    color: #fff;

    button:hover {
      background-color: #555;
    }

    button.focused {
      background-color: #007bff;
      color: white;
    }
  }
}


// 1. 윈도우 자체 투명화 (이게 없으면 회색 배경이 덮입니다)
