

window {
    height: max-content;
}


window dbusmenu { 
    color: pink;
}

.workspaces {
  button {
    /* GTK4 버튼 기본 스타일 초기화 */
    background: none;
    border: none;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 6px;
    background-color: #333;
    color: #fff;

    &:hover {
      background-color: #555;
    }

    /* 활성화된 워크스페이스 스타일 */
    &.focused {
      background-color: #007bff;
      color: white;
    }
  }
}