:root {
    --primary-50: #f5f3ff;
    --primary-100: #ede9fe;
    --primary-200: #ddd6fe;
    --primary-300: #c4b5fd;
    --primary-400: #a78bfa;
    --primary-500: #8b5cf6; 
    --primary-600: #7c3aed;
    --primary-700: #6d28d9;
    --primary-800: #5b21b6;
    --primary-900: #4c1d95; 
    --secondary-50: #f8fafc;
    --secondary-100: #f1f5f9;
    --secondary-200: #e2e8f0;
    --secondary-300: #cbd5e1;
    --secondary-400: #94a3b8;
    --secondary-500: #64748b; 
    --secondary-600: #475569;
    --secondary-700: #334155;
    --secondary-800: #1e293b;
    --secondary-900: #0f172a;
    --text-main: #1e293b;
    --text-muted: #64748b;
    --success: #10b981; 
    --error: #ef4444;   
    --warning: #f59e0b;
    --info: #3abff8;
    --round-size: 24px;
    --round-radius: 999px;
}

window{
  box-shadow: none;
  background-color: var(--primary-100);
  border: none;
  
}
button {
  all: unset;
}
window.elaina-bar {
  centerbox {
    margin: 8px;
  }

  button { 
    background-color: var(--primary-300);
    border-radius: 8px;
  }
  .left-items { 
    &:first-child {
      margin-top: 8px;
    }

    button.home-btn {
      padding: 4px;
      background-color: transparent;
      outline: none;
      box-shadow: none;
      &:hover { 
        background-color: var(--primary-300);
      }
    }
    
    box.workspaces {
      padding-top: 4px;
      padding-bottom: 4px;

      button {
        min-width: 32px;
        min-height: 32px;
        background-color: transparent;
        padding: 4px;
        border-radius: 999px;
      }
      .workspace-circle {
        min-width: var(--round-size);
        min-height: var(--round-size);
        border-radius: var(--round-radius);
        background-color: var(--primary-200);
        border: 2px solid var(--primary-400);
        box-shadow: 0 0 0 1px rgba(91, 33, 182, 0.2);
        padding: 3px;
      }
      
      .workspace-icon {
        -gtk-icon-size: 14px;
      }
      .workspace-icon-container {
        :nth-last-child {
          margin-bottom: 10px;
        }
      }
    }
  }

  .right-items {
    box.sounds-tray { 

    }
  }
}

//Components Section
window {
  box.divider {
    border-radius: 8px;
    margin: 4px;
    background-color: var(--primary-300);
  }
}

// Common components
box.pill {
  border-radius: var(--round-radius);
  background-color: var(--primary-300);
  box-shadow: 0 2px 6px rgba(30, 41, 59, 0.2);
}
box.pill-top,
box.pill-bottom {
  border-radius: var(--round-radius);
  margin: 0 10px;
}

box.pill-top, box.pill-content, box.pill-bottom, box.pill {
  background-color: var(--primary-300);
}

box.pill-top {
  background-color: none;
}
box.pill-bottom {
  background-color: none;
}
box.pill-content {
  border-radius: var(--round-radius);
  background-color: var(--primary-100);
}
